name: CI / Test Action

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  update-quote:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          GH_TOKEN: ${{ secrets.BOT_TOKEN || secrets.GITHUB_TOKEN }}
          COMMIT_MESSAGE: |
            :cloud: Updated Daily Quote 


            Signed-off-by: Hamster [bot] <TheHamsterBot@outlook.com> 
            Co-Authored-by: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
